<div class='row wrapper backs'>
  <div class='col-lg-3'></div>
  <div class='col-lg-5 title'>
    <span>{{company.name}}</span>
  </div>
  <div class="pull-right">
    <a class="btn btn-default btn-default" {{action 'save'}} id="save_top" role="button"><i class="fa fa-floppy-o"></i> Save</a>
  </div>
</div>
<div class='row wrapper backs-nav'>
  <div class='col-lg-10 col-lg-offset-1 comp-nav'>
    <div class="comp-nav-item">
      {{#scroll-to anchor='#info'}}
        <i class="fa fa-info"></i>
        <span>Information</span>
      {{/scroll-to}}
    </div>
    <div class="comp-nav-item">
      {{#scroll-to anchor='#theme'}}
        <i class="fa fa-tint"></i>
        <span>Theme</span>
      {{/scroll-to}}
    </div>
    <div class="comp-nav-item">
      {{#scroll-to anchor='#domain'}}
        <i class="fa fa-keyboard-o"></i>
        <span>Domain</span>
      {{/scroll-to}}
    </div>
  </div>
</div>
<!-- CONTENT -->
<div class='wrapper wrapper-content fix-padding-mini-dashs'>
  <div class='row'>
    <div id="info" class="comp-s-item border-bottom clearfix">
      <div class='col-lg-4'>
        <h4>Company Information</h4>
        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac magna ipsum. Fusce consectetur massa ac leo ultricies, a venenatis ipsum volutpat. Nulla at arcu eu eros pharetra euismod eget et urna.</small>
      </div>
      <div class="col-lg-8 summary">
        <div class="summary-group clearfix">
          <div class="summary-label col-sm-3">
            <span>Name</span>   
          </div>
          <div class="col-sm-6">
            {{#if isEditingName }}
              {{input value=company.name id="name" class="string required form-control"}}
            {{else}}
              <span>{{company.name}}</span> 
            {{/if}}
          </div>  
          <div class="col-sm-3">
            {{#if isEditingName}}
              <button {{action 'doneEditingName'}} class='btn btn-default btn-inverse'>Done</button>
            {{else}}
              <button {{action 'editName'}} class="btn btn-default btn-inverse">Change Name</button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

    <div id="theme" class="comp-s-item border-bottom clearfix">
      <div class='col-lg-4'>
        <h4>Manage Theme</h4>
        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" title="">Aenean ac magna ipsum.</a></small>
      </div>
      <div class="col-lg-8 summary">
        <div class="clearfix">
          <div class="col-sm-3">
            <span>Tema atual:</span>
          </div>
          <div class="col-sm-7 theme">
            <span>{{company.theme}}</span>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="inputPassword" class="col-sm-3 control-label">Novo tema:</label>
          <div class="col-sm-4">
            {{#x-select action="selectTheme" id="theme-select" value=company.theme class="form-control"}}
              {{#each themes as |theme|}}
                {{#x-option value=theme.name}}
                  {{theme.name}}
                {{/x-option}}
              {{/each}}
            {{/x-select}}
          </div>
        </div>
      </div>
    </div>

    <div id="domain" class="comp-s-item border-bottom clearfix">
      <div class='col-lg-4'>
        <h4>Domains</h4>
        <small>Consectetur adipiscing. Lorem ipsum dolor sit amet elit. <a href="#" title="">Aenean ac magna.</a></small>
      </div>

      <div class="col-lg-8 summary">
        <h5>Custom Domains</h5>
        <div class="pull-right">
          {{#if isEditingDomain}}
            <button {{action 'doneEditingDomain'}} class='btn btn-default btn-inverse'>Done</button>
          {{else}}
            <button {{action 'editDomain'}} class="btn btn-default btn-inverse">Change Domain</button>
          {{/if}}
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Domain name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {{#if isEditingDomain}}
                <td>
                  {{input value=company.domain id="domain" class="string required form-control"}}
                </td>
              {{else}}
                <td>{{company.domain}}</td>
              {{/if}}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-md-4">
      <button {{action 'save'}} id="save_bottom" class="btn btn-primary">Save Options</button>
    </div>
  </div>
</div>